<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-aliyun-vod-player" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>AliyunVodPlayer</name>
  <js-module name="AliyunVodPlayer" src="www/AliyunVodPlayer.js">
    <clobbers target="cordova.plugins.AliyunVodPlayer" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="AliyunVodPlayer">
        <param name="android-package" value="cordova-plugin-aliyun-vod-player.AliyunVodPlayer" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/AliyunVodPlayer.java" target-dir="src/cordova-plugin-aliyun-vod-player/AliyunVodPlayer" />
  </platform>
</plugin>
